.floating-action {
  position: static;
  width: 40px;
  padding: 0!important;
  height: 40px;
  border-radius: 50%;
  background: #3843FF;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 999;


  &:active {
    transform: scale(0.95);
  }

  svg {
    width: 28px;
    height: 28px;
  }
}
