.home {
  max-width: 768px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 100px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
