.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 1000;

  &__container {
    max-width: 768px;
    margin: 0 auto;
    background: #fff;
    border-radius: 64px;
    border: 0.5px solid #CDCDD0;
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  &__item {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: #8b93a7;
    padding: 0;

    &--active {
      color: #3843FF;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
